.modal {
    position: fixed;
    left: 5%;
}

.modal-content {
    width: auto;
    height: auto;
    margin: 0;
    display: block;
    border-radius: 10px 10px 10px 10px;
    color: #263846;
    text-decoration: none;
    font-size: 15px;
}

.modal-header {
    border: 0px;
}

.modal-footer {
    border: 0px;
}