/* .card-body {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333333;
} */

.bodersueve_fieldset {
    margin: left 1px;
    margin-right: 1px;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
    font-size: 16px;
    outline: none;
}

.fecha {
    color: black;
    border: none;
}

.card-body {
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-body {
    position: relative;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fondo {
    border-top: 5px solid #496a77;
    border-radius: 10px 10px 10px 10px;
}