    .detalle_caso {
        /* background: linear-gradient(to right, #fafbfc, #c2cdd6, #9ca8b1); */
        background: linear-gradient(to right, #fafbfc, #f3f5f7, #a9b6c2);
        color: blueviolet;
    }